{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
<section class="product-details spad">
    <div class="container">
        {% if message %}
        <div class="row">
            <div class="col-lg-12">
                <h6><span class="icon_tag_alt"></span> {{ message }}
                </h6>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                            src="{{auction.image_url}}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>{{auction.auction_name}}</h3>
                    <div class="product__details__price">Start Price: {{auction.start_price}}</div>
                    <div class="product__details__price">Highest Bid: {{auction.close_price}}</div>
                    <p>{{auction.description}}</p>
                    {% if user.is_authenticated %}
                        {% if auction.open_status %}
                            {% if auction.creator == user %}
                                <form action="{% url 'close-auction' %}" method="post">
                                    {% csrf_token %}
                                    <div class="product__details__quantity">
                                        <input type="hidden" name="auction_id" value="{{auction.id}}"/>
                                        <button class="site-btn" type="submit">Close this auction</button>
                                    </div>
                                </form>
                            {% else %}
                                <form action="{% url 'bid-auction' %}" method="post">
                                    {% csrf_token %}
                                    <div class="product__details__quantity">
                                        <input type="hidden" name="auction_id" value="{{auction.id}}"/>
                                        {{ bid_form }}
                                    </div>
                                    <button class="site-btn" type="submit">Bid for it!</button>
                                </form>
                            {% endif %}
                        {% endif %}
                        {% if in_watchlist %}
                            <form action="{% url 'remove-watchlist' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="auction_id" value="{{auction.id}}"/>
                                <button class="site-btn" type="submit">Remove From Watchlist</button>
                            </form>
                        {% else %}
                            <form action="{% url 'add-watchlist' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="auction_id" value="{{auction.id}}"/>
                                <button class="site-btn" type="submit">Add To Watchlist</button>
                            </form>
                        {% endif %}
                    {% endif %}
                    <ul>
                        <li><b>Created</b> <span>{{auction.created_time}}</span></li>
                        <li><b>Created by</b> <span>{{auction.creator}}</span></li>
                        {% if auction.open_status %}
                            <li><b>Status</b> <span>Open</span></li>
                        {% else %}
                            <li><b>Status</b> <span>Closed</span></li>
                        {% endif %}
                        <li><b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab"
                              aria-selected="true">Bids</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                              aria-selected="false">Comments</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                {% if bids %}
                                    {% for bid in bids %}
                                      <h6>Bid by: {{bid.user}} at {{bid.bid_time}}</h6>
                                      <p>Price: {{bid.bid_price}}</p>
                                    {% endfor %}
                                {% else %}
                                    <h6>No Bids</h6>
                                {% endif %}
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <form action="{% url 'add-comment' %}" method="post">
                                    {% csrf_token %}
                                    {{ comment_form }}
                                    <input type="hidden" name="auction_id" value="{{auction.id}}"/>
                                    <button class="primary-btn" id="comment-button" type="submit">Comment</button>
                                </form>
                                {% if comments %}
                                    {% for comment in comments %}
                                        <h6>Comment by: {{comment.user}} at {{comment.commented_time}}</h6>
                                        <p>{{comment.comment}}</p>
                                    {% endfor %}
                                {% else %}
                                    <p>No Comments</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
