{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
<section class="checkout spad">
    <div class="container">
        {% if message %}
        <div class="row">
            <div class="col-lg-12">
                <h6><span class="icon_tag_alt"></span> {{ message }}
                </h6>
            </div>
        </div>
        {% endif %}
        <div class="checkout__form">
            <h4>Create Auction</h4>
            <form action="{% url 'create-auction' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <div class="row">
                        {{ form }}
                      </div>
                        <div class="row">
                            <div class="checkout__input">
                                <button type="submit" class="site-btn" type="submit">Save Listing</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
