{% extends "auctions/layout.html" %}
{% block body %}
  <h2>List Auctions{% if category_name %} from category {{ category_name }}{% endif %}</h2>
  {% if message %}
    <div>{{ message }}</div>
  {% endif %}

  {% for auction in auctions %}

    {% if auction.open_status %}
      <div>
        <h2><a href="/viewauction/{{auction.auction_name}}">{{auction.auction_name}}</a></h2>
        <p>{{auction.description}}</p>
        {% if auction.image_url %}
          <img src="{{auction.image_url}}" alt="No img" />
        {% endif%}
        {% if auction.close_price %}
          <p>Highest Bid: {{auction.close_price}}</p>
        {% else %}
          <p>Price: {{auction.start_price}}</p>
        {% endif%}
      </div>
    {% endif%}
  {% endfor%}


{% endblock %}
